[Unit]
Description=Serviço Docker Compose para WRouter
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/wrouter-frankenphp
ExecStart=/bin/sh -c '/usr/bin/docker compose -f docker-compose.prod.yml up -d --build'
ExecStop=/bin/sh -c '/usr/bin/docker compose -f docker-compose.prod.yml down'
RemainAfterExit=yes
TimeoutStartSec=0
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
