[Unit]
Description=Serviço Docker Compose para WRouter
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=exec
WorkingDirectory=/home/ubuntu/wrouter-frankenphp
ExecStart=/usr/bin/docker-compose -f docker-compose.prod.yml up -d --build
ExecStop=/usr/bin/docker-compose -f docker-compose.prod.yml down
TimeoutStartSec=0
RemainAfterExit=yes

Restart=on-failure
RestartSec=10s
StartLimitIntervalSec=60s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
